// Subworkflow tests do not run main.nf, so the parameters that conf/modules.config reads for these steps are set here
params {
    max_seq_length                     = 5000
    min_seq_length                     = 30
    recruit_min_model_coverage         = 0.9
    search_evalue_cutoff               = 0.001
    seed_msa_trimming_ends_only        = true
    seed_msa_trimming_max_gap_fraction = 0.5
    seq_redundancy_min_seq_identity    = 0.9
}
