/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running family merging tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/proteinfamilies -profile test_merge,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Merge test profile'
    config_profile_description = 'Test dataset to check family merging on its own (standard algorithm, family redundancy removal off)'

    // Input data
    input                          = params.pipelines_testdata_base_path + 'samplesheets/v3/samplesheet.csv'
    // Clustering
    clustering_tool                = 'linclust'
    clustering_min_seq_identity    = 0.5
    clustering_min_coverage        = 0.9
    clustering_min_cluster_size    = 5
    // Redundancy
    family_redundancy_removal      = 'none'
    family_merging                 = 'all'
}
