/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests of the iterative algorithm
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/proteinfamilies -profile test_mgnifam,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Iterative family generation test profile'
    config_profile_description = 'Test dataset to check the iterative (mgnifam) family generation algorithm, including family merging'

    // Input data
    input                             = params.pipelines_testdata_base_path + 'samplesheets/samplesheet.csv'
    // Clustering
    clustering_tool                   = 'linclust'
    cluster_seq_identity              = 0.5
    cluster_coverage                  = 0.9
    cluster_size_threshold            = 5
    // Family generation
    family_generation_algorithm       = 'iterative'
    // Small enough to split the test dataset's clusters over several chunks
    clusters_per_chunk                = 2
    save_iterative_family_metadata    = true
    // Downstream samplesheets
    skip_proteinfold_samplesheet      = false
    skip_proteinannotator_samplesheet = false
}
