process {
    withName: 'SEQKIT_SEQ' {
        ext.args = "--remove-gaps"
        ext.prefix = { "${meta.id}_${meta.family}" }
    }

    withName: 'MMSEQS_CREATEDB' {
        ext.prefix = { "${meta.family}" }
    }

    withName: 'MMSEQS_LINCLUST' {
        ext.prefix = { "${meta.family}" }
        ext.args = [
            "--min-seq-id 0.9",
            "-c 0.8",
            "--cov-mode 1",
        ].join(' ').trim()
    }

    withName: 'MMSEQS_CREATETSV' {
        ext.prefix = { "${meta.family}" }
    }

    withName: 'FAMSA_ALIGN' {
        ext.prefix = { "${meta.family}" }
    }

    withName: 'CLIPKIT' {
        ext.args = [
            "-m gappy --gaps 0.5",
            "--ends_only"
        ].join(' ').trim()
        ext.prefix = { "${meta.family}" }
    }

    withName: 'HMMER_HMMBUILD' {
        ext.prefix = { "${meta.family}" }
    }

    withName: 'HMMER_HMMSEARCH' {
        ext.args   = { "-E 0.001" }
        ext.prefix = { "${meta.id}" }
    }

    withName: 'REMOVE_REDUNDANT_SEQS' {
        ext.prefix = { "${meta.family}_${meta.id}" }
    }
}
